<div class="section overflowx-hidden">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-balance title uppercase text-center text-5xl md:text-6xl">Events</h1>
    <div class="w-[40%] h-[2px] bg-white"></div>
    <a href="/events" class="text-2xl text-center title uppercase hover:underline">See all events</a>

  </div>

  <div class="mt-16 w-full">
    <div class="grid gap-10">
      <div data-aos="fade-up" class="bg-highlight p-4 md:p-6 rounded-xl flex flex-col-reverse md:flex-row gap-4">
        <div>
          <header class="flex items-center flex-wrap gap-5">
            <div class="grid gap-1">
              <div class="p-2 aspect-square flex-shrink-0 rounded-full border flex flex-col items-center justify-center">
                <p class="text-3xl md:text-4xl">06</p>
              </div>
              <p class="leading-none text-center uppercase font-semibold">July</p>
              <p class="leading-none text-center uppercase text-sm">2024</p>
            </div>
            

            <div>
              <p class="title uppercase text-3xl md:text-4xl">Crossover to carryover</p>
              <p>12 Main Street, NY</p>
              <p class="text-sm">12:30 pm - 2:30 pm</p>
            </div>
          </header>

          <p class="text-sm mt-3 md:text-balance">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, qui totam suscipit iure perferendis modi ad itaque officia delectus dicta saepe nemo. Dolores doloribus sequi numquam voluptates! Quo, qui perferendis.
          </p>

          <div class="mt-3">
            <button class="w-32 btn primary">More</button>
          </div>
        </div>
        
        <div class="w-full md:w-[30%] flex-shrink-0 h-72 md:h-auto">
          <div class="rounded-xl w-full h-full overflow-hidden">
            <img src="/images/event.jpg" alt="Event" class="h-full w-full object-cover">
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="bg-highlight p-4 md:p-6 rounded-xl flex flex-col-reverse md:flex-row gap-4">
        <div>
          <header class="flex items-center flex-wrap gap-5">
            <div class="grid gap-1">
              <div class="p-2 aspect-square flex-shrink-0 rounded-full border flex flex-col items-center justify-center">
                <p class="text-3xl md:text-4xl">06</p>
              </div>
              <p class="leading-none text-center uppercase font-semibold">July</p>
              <p class="leading-none text-center uppercase text-sm">2024</p>
            </div>
            

            <div>
              <p class="title uppercase text-3xl md:text-4xl">Crossover to carryover</p>
              <p>12 Main Street, NY</p>
              <p class="text-sm">12:30 pm - 2:30 pm</p>
            </div>
          </header>

          <p class="text-sm mt-3 md:text-balance">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, qui totam suscipit iure perferendis modi ad itaque officia delectus dicta saepe nemo. Dolores doloribus sequi numquam voluptates! Quo, qui perferendis.
          </p>

          <div class="mt-3">
            <button class="w-32 btn primary">More</button>
          </div>
        </div>
        
        <div class="w-full md:w-[30%] flex-shrink-0 h-72 md:h-auto">
          <div class="rounded-xl w-full h-full overflow-hidden">
            <img src="/images/event.jpg" alt="Event" class="h-full w-full object-cover">
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="bg-highlight p-4 md:p-6 rounded-xl flex flex-col-reverse md:flex-row gap-4">
        <div>
          <header class="flex items-center flex-wrap gap-5">
            <div class="grid gap-1">
              <div class="p-2 aspect-square flex-shrink-0 rounded-full border flex flex-col items-center justify-center">
                <p class="text-3xl md:text-4xl">06</p>
              </div>
              <p class="leading-none text-center uppercase font-semibold">July</p>
              <p class="leading-none text-center uppercase text-sm">2024</p>
            </div>
            

            <div>
              <p class="title uppercase text-3xl md:text-4xl">Crossover to carryover</p>
              <p>12 Main Street, NY</p>
              <p class="text-sm">12:30 pm - 2:30 pm</p>
            </div>
          </header>

          <p class="text-sm mt-3 md:text-balance">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, qui totam suscipit iure perferendis modi ad itaque officia delectus dicta saepe nemo. Dolores doloribus sequi numquam voluptates! Quo, qui perferendis.
          </p>

          <div class="mt-3">
            <button class="w-32 btn primary">More</button>
          </div>
        </div>
        
        <div class="w-full md:w-[30%] flex-shrink-0 h-72 md:h-auto">
          <div class="rounded-xl w-full h-full overflow-hidden">
            <img src="/images/event.jpg" alt="Event" class="h-full w-full object-cover">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>