<div class="section overflow-hidden">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-balance title uppercase text-center text-5xl md:text-6xl">Morals of Excellence</h1>
    <div class="w-[40%] h-[2px] bg-white"></div>
    <a href="/works" class="text-2xl text-center title uppercase hover:underline">See all works</a>
  </div>

  <div class="mt-16 w-full grid md:grid-cols-2 gap-10 items-center">
    <div data-aos="fade-left" class="md:order-2">
      <div class="w-full rounded-lg h-96 overflow-hidden border">
        <img src="/images/book-cover.png" alt="Book Cover" class="w-full h-full object-cover">
      </div>
    </div>

    <div data-aos="fade-right" data-aos-delay="200" class="md:order-1">
      <h1 class="title text-3xl md:text-4xl uppercase">The Habit of Shaping Moral Character</h1>
      <p class="mt-2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam sunt, amet fugiat pariatur atque doloribus facilis delectus tempore exercitationem animi, aperiam ad optio nemo dolore! Laboriosam eaque magnam harum sapiente.
      </p>
      <button class="btn primary mt-4">Action</button>
    </div>
  </div>

  <div class="mt-10 md:mt-2 w-full grid md:grid-cols-2 gap-10 items-center">
    <div data-aos="fade-right">
      <div class="w-full rounded-lg h-96 overflow-hidden border">
        <img src="/images/book-cover.png" alt="Book Cover" class="w-full h-full object-cover">
      </div>
    </div>

    <div data-aos="fade-left" data-aos-delay="200">
      <h1 class="title text-3xl md:text-4xl uppercase">The Habit of Shaping Moral Character</h1>
      <p class="mt-2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam sunt, amet fugiat pariatur atque doloribus facilis delectus tempore exercitationem animi, aperiam ad optio nemo dolore! Laboriosam eaque magnam harum sapiente.
      </p>
      <button class="btn primary mt-4">Action</button>
    </div>
  </div>
  
</div>