<footer class="bg-highlight px-4 py-8 md:px-12 z-30">
  <div class="flex items-center justify-between">
    <div>
      <a href="/">
        <%- include('./icons/logo', { height: '20', fill: 'white' }) %>
      </a>
    </div>

    <div>
      <%- include('./_social-medial-links', { socials: locals.socials, size: '1.25rem' }) %>
    </div>
  </div>

  <div class="mt-2">
    <small>&copy; 2025 Ikenna Okoroafor. All rights reserved</small>
  </div>
</footer>